header {
  grid-column: 1 / -1 !important;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid transparent;

  &.scrolled {
    background-color: color-mix(in srgb, var(--c-bg), transparent 20%);
    border-bottom: 1px solid var(--c-grid);
  }

  .inner {
    width: min(65rem, calc(100% - 48px));
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    transition: padding 0.3s;
  }

  &.scrolled .inner {
    padding: 12px 0;
  }

  .back {
    cursor: pointer;
  }

  .nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  #language-switcher {
    margin-left: auto;
  }

  .nav a {
    color: var(--c-text);
    text-decoration: none;
    transition: all 0.3s;

    &.active {
      color: var(--c-text-hover);
      font-weight: bold;
    }

    &:hover {
      color: var(--c-text-hover);
    }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 20px;

    #language-switcher {
      margin-left: 0;
    }
  }
}
