header {
  display: flex;

  .back {
    cursor: pointer;
  }

  .nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  #language-switcher {
    margin-left: auto;
  }

  .nav a {
    color: var(--c-text);
    text-decoration: none;
    transition: all 0.3s;

    &.active {
      color: var(--c-text-hover);
      font-weight: bold;
    }

    &:hover {
      color: var(--c-text-hover);
    }
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 20px;

    #language-switcher {
      margin-left: 0;
    }
  }
}
