footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

footer p {
  opacity: 0.4;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
