#hero {
  margin-top: 4.5rem;

  .block {
    display: block;
  }

  .info {
    margin-top: 24px;
  }

  .box p {
    font-size: 3rem;
    line-height: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:
      radial-gradient(closest-side, rgba(0, 255, 242, 1), rgba(0, 255, 242, 0)),
      radial-gradient(closest-side, rgba(255, 0, 128, 1), rgba(255, 0, 128, 0)),
      radial-gradient(closest-side, rgba(0, 110, 255, 1), rgba(0, 110, 255, 0)),
      linear-gradient(
        to bottom right,
        rgba(0, 100, 255, 0.4),
        rgba(255, 0, 128, 0.4),
        rgba(0, 255, 242, 0.4)
      );
    background-size:
      120vmax 120vmax,
      100vmax 100vmax,
      110vmax 110vmax,
      100% 100%;
    background-position:
      -30vmax -30vmax,
      40vmax -20vmax,
      10vmax 40vmax,
      center center;
    background-repeat: no-repeat;
    animation: 7s movement ease-in-out infinite alternate;
    will-change: background-position, background-size;
    contain: paint;
  }

  .info p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
  }
}

@keyframes movement {
  0% {
    background-position:
      -30vmax -30vmax,
      40vmax -20vmax,
      10vmax 40vmax,
      center center;
  }

  100% {
    background-position:
      -10vmax -10vmax,
      20vmax 0vmax,
      30vmax 20vmax,
      center center;
  }
}
