#socials {
  margin-top: 1rem;

  .link {
    --at-apply: inline-flex px-3 py-2 mt-2 mr-2 rounded-md gap-2 text-inherit
      bg-gray-50 transition-all transition-duration-300 decoration-none hover:text-white dark:bg-gray-50/10;
  }

  .icon {
    --at-apply: h-20px w-20px;
  }

  .text {
    --at-apply: text-sm ml-1;
  }

  .link.hide-name {
    gap: 0;

    .text {
      display: grid;
      grid-template-columns: 0fr;
      overflow: hidden;
      transition: all 0.3s;
      opacity: 0;
  
      span {
        min-width: 0;
      }
    }

    &:hover {
      gap: 0.5rem;

      .text {
        grid-template-columns: 1fr;
        opacity: 1;
      }
    }
  }
}
